{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>Operating System Algorithms</h2>

    <div class="cards">

        <div class="card">
            <h3>CPU Scheduling</h3>
            <p>Simulate process scheduling algorithms</p>
            <a href="/cpu">Open</a>
        </div>

        <div class="card">
            <h3>Memory Management</h3>
            <p>Allocate memory blocks</p>
            <a href="/memory">Open</a>
        </div>

        <div class="card">
            <h3>Page Replacement</h3>
            <p>Visualize page replacement methods</p>
            <a href="/page-replacement">Open</a>
        </div>

        <div class="card">
            <h3>Disk Scheduling</h3>
            <p>Simulate disk movement algorithms</p>
            <a href="/disk">Open</a>
        </div>

    </div>

    <section class="info-section">
        <h2>About the Project</h2>
        <p>
           An Operating Systems Algorithm Visualizer is a web-based software project that graphically demonstrates how common operating system algorithms work in real time. The goal is to help students and developers understand complex OS concepts through interactive simulations and visual representations.
        </p>
    </section>

    <section class="info-section">
        <h2>About Us</h2>
        <p>
            We are a team of computer engineering students dedicated to developing the
            Operating Systems Algorithm Simulator, an interactive platform designed to
            help users understand operating system concepts through visual simulations
            and algorithm demonstrations.
        </p>

        <h2 style="margin-top: 40px;">Development Team</h2>

        <h3>Front-End Developers</h3>
        <ul>
            <li>Benidict Clemente</li>
            <li>Justin Rain Mangalindan</li>
        </ul>

        <h3>Back-End Developers</h3>
        <ul>
            <li>Adam Daniel Azarcon</li>
            <li>James Starwin Canoy</li>
        </ul>
    </section>


</div>

{% endblock %}