{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>Operating Systems Algorithm Visualizer</h2>

    <div class="cards">

        <div class="card">
            <h3>CPU Scheduling</h3>
            <p>Simulate process scheduling algorithms</p>
            <a href="/cpu">Open</a>
        </div>

        <div class="card">
            <h3>Memory Management</h3>
            <p>Allocate memory blocks</p>
            <a href="/memory">Open</a>
        </div>

        <div class="card">
            <h3>Page Replacement</h3>
            <p>Visualize page replacement methods</p>
            <a href="/page-replacement">Open</a>
        </div>

        <div class="card">
            <h3>Disk Scheduling</h3>
            <p>Simulate disk movement algorithms</p>
            <a href="/disk">Open</a>
        </div>

    </div>

    <section class="info-section">
        <h2>About the Project</h2>
        <p>
           
        </p>
    </section>

    <section class="info-section">
        <h2>About Us</h2>
        <p>

        </p>
    </section>

</div>

{% endblock %}